doctype html
html
	head
		title
	body
		//- postedMessages kan met of zonder / ervoor
		a(href="/postedMessages") posted messages 
		h1 Pug - Add Message
		form(action='/addmessage', method='post')
			input(type='text', name='title' placeholder= 'enter title message' autocomplete="off" required)
			input(type='text', name='body' placeholder='enter message' required)
			input(type='submit', value='submit message')
