doctype html
html
	head
		title
	body
		a(href="./") post message 
		h All Posted Messages
		h1 Posted Messages
		each blablabla in messages
			div 
			if messages
				
				p #{blablabla.title} #{blablabla.body} 
			else
				p No Messages Yet!!!
